// colors
$primary: #5ece7b;
$black: #1d1f22;
$c-line: #e5e5e5;
$grey: #a6a6a6;

//fonts
$raleway: "Raleway";
$robotoCondensed: "Roboto Condensed";
$sourceSansPro: "Source Sans Pro";
$roboto: "Roboto";

//space
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//box-shadow
$base-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
