.cart-page {
  margin: 4rem 10vw;

  &-name {
    margin-bottom: 50px;
  }

  &-line {
    border-top: 1px solid $c-line;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .empty-cart-page {
    text-align: center;
    line-height: 2;
    a {
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
