.description-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 4.4rem;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(57, 55, 72, 0.22);
}

.description-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //   border: 1px solid $black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: white;
  max-width: 50vw;
  max-height: 50vh;
  overflow: scroll;
  z-index: 15;
}
